---
import type { languageList } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";


import ButtonLinks from "./ButtonLinks.astro";
import MailIcon from "./icons/Mail-icon.astro";
import SectionComponent from "./SectionComponent.astro";
const stack = [
    "JavaScrip",
    "ReactJs",
    "Node.js",
    "ExpressJS",
    "MongoDB",
    "Tailwind CSS",
    "Bootstrap",
    "SASS",
    "Html",
    "CSS",
];

const currentLang = Astro.currentLocale || 'es'
const translateLabels = useTranslations(currentLang as keyof typeof languageList)
---

<SectionComponent id="about" title={translateLabels('nav.about')} icon={true}>
    <div class="flex flex-col md:flex-row items-center justify-center gap-2 md:gap-6">
        <p class="md:w-2/3 text-xl">
            {translateLabels('home.about')}
        </p>

        <div class="flex flex-col gap-4 md:gap-10">
            <img
                class="w-52 md:w-60 h-auto"
                src="/SantiagoDev.png"
                alt="Santiago Dev animado "
            />
            <ButtonLinks
                href="mailto:santiagodev.web@gmail.com"
                title="Contácteme"
            >
                <MailIcon class="size-5" />
            </ButtonLinks>
        </div>
    </div>
</SectionComponent>
