---
import SectionComponent from "./SectionComponent.astro";


---


<SectionComponent title="Sobre mi">
    <span class=""
            >Trabajo con tecnologías como React, Node.js y Tailwind CSS para construir
            interfaces modernas y sistemas backend eficientes. Me gusta combinar código
            limpio con diseño funcional.
            </span>
</SectionComponent>

