---
const { href } = Astro.props;
---

<li
    class="cursor-pointer text-sm  px-4 py-2 rounded-4xl text-center items-center align-middle hover:bg-purple-900 hover:border-1 hover:border-amber-50  font-semibold transition-all delay-75"
>
    <a href={href} {...Astro.props}>
        <slot />
    </a>
</li>
