---
import AstroIcon from "./icons/Astro-icon.astro";
import BootstrapIcon from "./icons/Bootstrap-icon.astro";
import CssIcon from "./icons/Css-icon.astro";
import ExpressJsIcon from "./icons/ExpressJs-icon.astro";
import GitHubIcon from "./icons/GitHub-icon.astro";
import HtmlIcons from "./icons/Html-icon.astro";
import JavaScriptIcon from "./icons/JavaScript-icon.astro";
import MongoBdIcon from "./icons/MongoBd-icon.astro";
import NextJsIcon from "./icons/NextJs-icon.astro";
import NodeJsIcon from "./icons/NodeJs-icon.astro";
import TailwindIcon from "./icons/Tailwind-icon.astro";
import TypeScriptIcon from "./icons/TypeScript-icon.astro";
---

<ul
    class="flex  text-xs text-center items-center justify-center md:justify-center gap-4 animate-infinite-scroll group-hover:animation-pause"
>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <HtmlIcons class="size-12 md:size-20 mb-2" />HTML
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <JavaScriptIcon class="size-12 md:size-20 mb-2" />JavaScript
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <TypeScriptIcon class="size-12 md:size-20 mb-2" />TypeScript
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <CssIcon class="size-12 md:size-20 mb-2" />CSS
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <TailwindIcon class="size-12 md:size-20 mb-2" />Tailwind
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <BootstrapIcon class="size-12 md:size-20 mb-2" />Bootstraap
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <NodeJsIcon class="size-12 md:size-20 mb-2" />Node-js
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <ExpressJsIcon class="size-12 md:size-20 mb-2 bg-black p-1 rounded-md" />Express
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <MongoBdIcon class="size-12 md:size-20 mb-2" />MondoDB
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <NextJsIcon class="size-12 md:size-20 mb-2" />Next-js
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <AstroIcon class="size-12 md:size-20 mb-2 bg-black p-1 rounded-md" />Astro
    </li>
    <li class="opacity-80 hover:opacity-100 hover:scale-110 p-2">
        <GitHubIcon class="size-12 md:size-20 mb-2" />GitHub
    </li>
</ul>

