---
import SectionComponent from "./SectionComponent.astro";
---

<SectionComponent title="Formación" icon={true}>
    <details>
        <summary
            >Programación Backend I: Desarrollo Avanzado de Backend - CoderHouse</summary
        >

        <ul class="flex flex-col">
            <li>Comprender el ecosistema Node.js/JavaScript.</li>
            <li>Dominar los lenguajes JavaScript JS5, ES6, ES7, ES8, ES9, ES10, ES11</li>
            <li>Programar en Javascript asincrónico avanzado del lado del servidor.</li>
            <li>Utilizar framework Express.</li>
            <li>Usar el framework Handlebars para manejar plantillas HTML.</li>
            <li>Crear APIs con RESTFul.</li>
            <li>Dominar la tecnología Websockets.</li>

            <li>Hacer la instalación de MongoDB.</li>
            <li>Comprender los principios SQL y sus diferencias con MongoDB.</li>
            <li>Trabajar con la consola de MongoDB y clientes UI/Web.</li>
            <li>Manejar MongoDB desde Node.js a través de Mongoose.</li>
            <li>
                Realizar CRUD con MongoDB.
                <li>Normalizar/denormalizar datos en formato JSON.</li>
                <li>
                    Implementar proyectos en la nube a través de lataformas como, Heroku,
                    Glitch, MongoAtlas.
                </li>
            </li>
        </ul>
    </details>
        <details>
            <summary>React Js - CoderHouse</summary>

            <ul class="flex flex-col">
                <li>Crear desde cero SPA, haciendo foco en las interfaces de usuario.</li>
                <li>Javascript, JS y ES6.</li>
                <li>Desarrollar aplicaciones web en JavaScript utilizando ReactJS.</li>
                <li>Diseñar soluciones web rápidas, escalables, flexibles y potentes.</li>
                <li>Manejo de rutas utilizando Firebase.</li>
                <li>
                    Aplicar los conocimientos del lenguaje a otras librerías y frameworks
                    JavaScript (React, Node, VueJS, etc...)
                </li>
                <li>
                    Comprender paradigmas y patrones de programación empleados en el
                    desarrollo web.
                </li>
            </ul>
        </details>
        <details>
            <summary>JavaScrip - CoderHouse</summary>

            <ul class="flex flex-col">
                <li>
                    Distinguir sintaxis y casos de aplicación de instrucciones,
                    estructuras y métodos de JavaScript.
                </li>
                <li>Crear páginas y/o secciones web interactivas con JavaScript.</li>
                <li>
                    Determinar medio y formato de almacenamiento de datos generados por el
                    usuario.
                </li>
                <li>
                    Construir soluciones cuyo frontend se comunica con el backend usando
                    AJAX.
                </li>
                <li>
                    Aplicar los conocimientos del lenguaje a otras librerías y frameworks
                    JavaScript (React, Node, VueJS, etc.)
                </li>
                <li>
                    Comprender paradigmas y patrones de programación empleados en el
                    desarrollo web.
                </li>
            </ul>
        </details>
        <details>
            <summary>Desarrollo Web - CoderHouse</summary>

            <ul class="flex flex-col">
                <li>Prototipar un sitio web.</li>
                <li>Maquetar una web con HTML y CSS, siguiendo las mejores prácticas.</li>
                <li>Crear animaciones con CSS.</li>
                <li>Manejar SASS como preprocesador, y BEM como metodología.</li>
                <li>Versionar código con GIT y GitHub.</li>
                <li>Usar herramientas de SEO, y tips de seguridad.</li>
                <li>Trabajar con Boostrap, y con Material Design.</li>
                <li>Subir web a un servidor y configurarlo.</li>
                <li>Presentar presupuestos y entablar negociación con los clientes."</li>
            </ul>
        </details>
    </details>
</SectionComponent>
